*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    tab-size: 4; 
}

strong {
    font-weight: bolder;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

table {
    border-color: currentcolor;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
    -webkit-appearance: button;
}

legend {
    padding: 0;
}

progress {
    vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto;
}

[type='search'] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
}

::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
}

summary {
    display: list-item;
}

/*////////////////////////////////////////////////////////*/
:root {
    --bg-dark: hsl(2 100% 93%);
    --bg: hsl(2 100% 98%);
    --bg-light: hsl(2 100% 100%);
    --bg-button: hsl(350 100% 6%);
    --bg-button-hover: hsl(357 44% 32%);
    --highlight: hsl(1 100% 100%);
    --border: hsl(360 49% 55%);
    --border-muted: hsl(0 49% 78%);
    --primary: hsl(357 44% 32%);
    --secondary: hsl(183 100% 9%);
    --danger: hsl(8 40% 42%);
    --warning: hsl(52 82% 24%);
    --success: hsl(154 58% 29%);
    --info: hsl(217 42% 43%);
}

* {
    outline: 1px solid red;
}
input {
    border: 2px solid var(--border-muted);
    padding: 0.3rem;
}

input:focus {
    border: 2px solid var(--border);
    outline: none;
}

button {
    cursor: pointer;
    border: none;
    border-radius: 0.3rem;
    background-color: var(--bg-button-hover);
    color: var(--highlight);
    padding: 0.6rem 0.8rem;
}

body {
    display: flex;
    flex-direction: column;
}

body::backdrop {
    filter: brightness(50%);
}

header {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-dark);
}

h1 {
    font-size: 2.4rem;
    padding: 1.6rem 2rem;
}

nav {
    display: flex;
    gap: 1rem;
    padding: 1rem 2rem 1rem 2rem;
    flex-wrap: wrap;
    
}

.sort {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}
.form-sort,
.form-view,
.form-status {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#dialog-new {
    font-size: 1.3rem;
    margin: auto;
    padding: 1em;
    border-radius: 0.5rem;
    background-color: var(--bg);
    /* border: 3px solid var(--border); */
    border: none;
}

#form {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

#form input {

    border-radius: 0.3rem;
}

#form > .wrapper {
    display: flex;
    flex-direction: column;
}
#form > .status-wrapper{
    display: block;
}

#date-wrapper {
    display: none;
    flex-direction: column;
}

main {
    background-color: var(--bg);
}

.wrapper-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, 15rem);
    gap: 2rem;
    margin: 2rem auto;
    max-width: 60rem;
    height: auto;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    height: 15rem;
}